@inject I18nText translator

@page "/"

<h1>@miTexto.HelloWorld</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    Text miTexto = new Text();

    protected async override Task OnInitializedAsync()
    {
        miTexto =await translator.GetTextTableAsync<Text>(this);
    }
}