@inject I18nText TransalateService

<select class="form-control form-control-sm" @onchange="OnChangeCurrentLang">
    <option value="en" selected="@(CurrentLang == "en")">English</option>
    <option value="es" selected="@(CurrentLang == "es")">Español</option>
</select>


@code {
    string CurrentLang;

    protected async override Task OnInitializedAsync()
    {
        var lang = await TransalateService.GetCurrentLanguageAsync();
        if (new[] { "en","es"}.Contains(lang.Split('-')[0]))
        {
            CurrentLang = lang;
        }
        else
        {
            CurrentLang = "en";
        }
    }

    public async Task OnChangeCurrentLang(ChangeEventArgs args)
    {
        Console.WriteLine($"OnChange: {args.Value}");
        CurrentLang = args.Value as string;
        await TransalateService.SetCurrentLanguageAsync(CurrentLang);
    }
}
